/*
*
*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}




/*Menu do site*/
nav{
    z-index: 99;
    width: 100%; /* Responsivo */
    text-align: right;
}
nav ul {
    list-style: none; /*Tira bullets*/
    padding: 5px;
    background-color: #7e7e7ec7;
    overflow: hidden; /*Enxergar o background e completa a largura total com o background*/
}
nav ul li {
    display: inline-block;  
    font-size: 20px;
    padding-top: 10px;
    font-family: sans-serif;
}
nav ul li a{
    text-decoration: none; /*retira a cor do link*/
    color: white;
    padding: 7px;
    display: block; /*Transforma em blocos clicaveis*/
    float: left;
}

nav ul li a:hover{
    background-color: grey;
    transition: all 0.5s;
}
.Lg{
    text-align: left;
    float: left;
}
/*Colocar o logo no menu*/
#logo{
    float:left; 
    width: 55px;
    height: 55px;
}
.Mobile{
    display: none;
}

/* classe manipulada pelo JS/JQUERY */
.Fixar{
    position: fixed;
    top: 0;
}
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html, body { background: #333 url("https://codepen.io/images/classy_fabric.png"); }

.slides {
    left: 0;
    padding: 0;
    width: 100%;
    height: 240px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 240px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}


/*.............................................................................................................*/
/*Colocar a Imagem de fundo*/
.Layout{
    background-image: url('../imagens/banner/banner4.jpg.jpg');
    height: 350px;
    background-size: cover;/*Mantem o maior tamanho sem repetição*/
    padding-top: 100px;/*Centralizar a imagem de background*/
    background-position: center;
    background-attachment: fixed; /*Fixar background*/
}
/*.Layout p{
    text-align: center;
    color: #000000;
    font-size: 2.5em;
}*/
/*Colocar a cor solida de fundo*/
.Modulo{
    background-color: white;
    color: black;
    text-decoration: none;
}
/*Colocar a fonte cor paragrafo*/
.Destaque{
    padding: 50px 0px 150px 0px;
    max-width: 1000px;/*Espaçamento interno*/
    margin: 0 auto;/*Centralizar*/
    overflow: hidden;
    font-family: 'Oswald', sans-serif; 
}
.Title{
    font-size: 2vw;
    font-family: 'Oswald', sans-serif;
}
#h1{
margin-top: 30px;
font-family: 'Oswald', sans-serif;
}
#h3{
    margin-top: 30px;
    font-family: 'Oswald', sans-serif;
}
/*.............................................................................................................*/
/*Pagina Home*/
img {
    max-width: 100%;
}
/*.............................................................................................................*/
/*America do Sul*/
/*.............................................................................................................*/
/*Sobre*/
/*.............................................................................................................*/
/*Contato*/
#contato{
    padding-top: 50px;
    width: 70%;
    margin: 0 auto;
}
#contato h1{
    margin-bottom: 30px;
}
#contato input[type=text]{
    width: 100%;
    border: 1px solid #dda60ec7;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px; /*arrendondar os cantos*/
}
#contato textarea{
    width: 100%;
    border: 1px solid #dda60ec7;
    padding: 10px 10px 40px 10px;
    margin-bottom: 20px;
    border-radius: 5px; /*arrendondar os cantos*/
    resize: none;
}
#contato input[type=submit]{
    background-color: #dda60ec7;
    border: 1px solid #dda60ec7;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
}
.map-responsive iframe{
    
    height:50%;
    width:50%;
    position:absolute;
}
.Top{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
  
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}
/*.............................................................................................................*/
/*Rodapé*/
footer{
    background-color: #dda60ec7;
    color: #fff;
    padding: 20px 0px 20px 0px;
    text-align: center;
    font-size: 0.75em; /**** Responsividade ver tabela conversão ****/ 
}
/*.............................................................................................................*/
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}



















@media screen and (max-width: 480px){
    
/*************** header ****************/
#main{
    margin: 0;
}
/***************** Menu *****************/
.Mobile{
    display: block;
    background-color: #fff;
    color: grey;
    text-decoration: none;
    padding: 15px;
}
nav a{
    text-align: center;
    font-size: 5vw;
}
nav{
    z-index: 3;
}
nav >ul > li{
   float: none;
   width: 100%;
}

nav ul{
    display: none;
}
/*** melhorando UX (User eXperience) ***/
nav ul li a{
   text-align: left;
}

nav li ul li{
   background-color: #2e3335;
   padding-left: 40px;
}

nav li ul li a{
    background-color: white;
    padding-left: 40px;
}
/***********Banner*******************/
#banner{
   width: 100%
}
#banner h1{
   font-size: 1.5em;
}
.Title{
    font-size: 5vw;
}
.Destaque{
    margin-left: 20%;
    margin-right: 20%;
}
}
